<div class="search" style=" align-items: center; justify-content: center;">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{album.title}}</mat-card-title>
      <mat-card-subtitle>{{owner_name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://localhost:3000/uploads/{{ data }}" alt="Photo of a Shiba Inu"
      style="width: 380px; height: 300px; margin: 10px;">
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

</div>