<div id="myDiv">
  <h4><b>Share Album with your friends</b></h4>

  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <br>
    <div style="display: flex; justify-content: flex-start; margin: 10px;">
      <input type="checkbox" id="permission" formControlName="permission"
        style="margin: 0; width: 20px; height: 20px; ">
      <label for="permission" style="margin-left: 5px;">Permission:</label>
    </div>
    <button type="submit" class="login-btn" [disabled]="!emailForm.valid">Send</button>
    <small> <mat-spinner *ngIf="isLoading" style="width: 20px; height: 20px;"></mat-spinner>
    </small>
  </form>

</div>