<div class="search">
  <div>
    <h1 style="color:black;">Images</h1>
    <hr />
  </div>
  <!-- <div><input type="text" name="" id="" placeholder="Search the album"></div> -->
  <div>
    <button class="button1" mat-raised-button (click)="openDialog()" style="background-color: black; color: white;">
      <i class="fa fa-plus" aria-hidden="true" style="margin: 4px; "></i>Add
      Images
    </button>
  </div>
</div>
<!-- <div class="search1" *ngFor="let item of photo">
  <div class="image">
    <img src="http://localhost:3000/uploads/{{ item.image }}" alt="" />
    <span class="button2"><i class="fa fa-times" aria-hidden="true" (click)="onDelete(item)"></i>
    </span>
  </div>
</div> -->
<div class="search">
  <table class="custom-table">
    <thead>
      <tr class="sepration">
        <th colspan="1">Id</th>
        <th colspan="1">Image</th>
        <th colspan="1">Owner name</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of photo">
        <td colspan="1">{{ item.id }}</td>
        <td colspan="1">
          <a [routerLink]="['/dashboard/displayImage', item.id]"><img
              src="http://localhost:3000/uploads/{{ item.image }}" alt="" style="width: 10px; height: 10px" /></a>
        </td>
        <td colspan="1">
          {{item.owner_name}}
        </td>

      </tr>
    </tbody>
  </table>
</div>